
.fondoCabecera{
    background-color: #5e5e5e;
    text-align: center;
    min-height: 10vh;
}
.fondoDashboard{
    background-color: #b4ff05;
    text-align: center;
    min-height: 100vh;
}
.fondoRoles{
    background-color: #e1e2df;
    text-align: center;
    min-height: 100vh;
}